// Theme dark variables
$dark: #121212;
$dark-second: #222222;
$dark-third: #282828;

// Theme light variables
$light: #ffffff;
$light-second: #ededed;
$light-third: #696969;

// Colors
$blue: #1084dd;
$purple: #de6161;
$yellow: #ffc107;

// Document
$font-family: "Titillium Web", sans-serif;

// Light
$light-background-color: $light;
$light-second-background-color: $light-second;
$light-third-background-color: $light-third;

$light-font-color: $dark;
$light-second-font-color: $dark-second;
$light-third-font-color: $dark-third;

$light-border-color: $light-second;

// Dark
$dark-background-color: $dark;
$dark-second-background-color: $dark-second;
$dark-third-background-color: $dark-third;

$dark-font-color: $light;
$dark-second-font-color: $light-second;
$dark-third-font-color: $light-third;