@import 'https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

// Variables
@import '_variables.scss';

// Skeleton
@import '_skeleton.scss';

// Skeleton
@import '_media-query.scss';

* {

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

::-webkit-scrollbar {
	display: none;
}

strong { font-weight: 600; }

.flex {

	display: flex;

	&.vertical-top { align-items: flex-start; }
	&.vertical-center { align-items: center; }
	&.vertical-bottom { align-items: flex-end; }

	&.horizontal-left { justify-content: flex-start; }
	&.horizontal-center { justify-content: center; }
	&.horizontal-right { justify-content: flex-end; }

}

.hide {

	&.mobile { display:block; }
	&.desktop { display:none; }
	&.flex { display: inherit; }

}

.show {

	&.mobile { display:none; }
	&.desktop { display:block; }
	&.flex { display: inherit; }

}

.text {

	&.right { text-align: right; }
	&.blue { color: $blue; }
	&.pink { color: $pink; }

}

a {

	color: inherit;
	text-decoration: inherit;

}

body {

    font-family: $font-family;
    background-color: $dark-second-background-color;
    color: $dark-second-font-color;
	scroll-behavior: smooth;
    margin: 0;
    padding: 80px 0 0 0;

}

nav {

	background-color: $dark-background-color;
	color: $dark-font-color;
	height: 80px;
	width: 100%;
	position: fixed;
	top:0;
	z-index: 3;
	box-shadow: 0 2px rgba(0,0,0, 0.12);

	>.container {

		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
        flex-wrap: wrap;

		>.logo {

			text-transform: uppercase;
			font-weight: 700;
			font-size: 3rem;
			letter-spacing: -2px;
            display: flex;
            align-items: center;

		}

		>.menu,
        >.burger {

			display: flex;
			align-items: center;
			cursor: pointer;
			height: 100%;

			>div {

				margin-left: 65px;
				display: flex;
				align-items: center;
                justify-content: flex-end;
				height: 100%;

				&.dropdown {

					position: relative;

					&:hover {

						>.dropdown-position {

							display: block;

						}

					}

					>.dropdown-position {

						width: calc( 100% + 40px );
						position: absolute;
						top: 0;
						margin-top: 65px;
						display: none;

						>.dropdown-content {

							background-color: $light-background-color;
							color: $light-font-color;
							box-shadow: 0 0 6px 2px rgba(0,0,0, 0.12);
							padding: 5px;
							border-radius: 3px;
							text-align: right;
							position: relative;
							font-size: 1.3rem;

							> div {

								padding: 5px;
								border-radius: 3px;
								transition: background-color .2s ease-in-out;

								&:hover {

									background-color: $light-second-background-color;

								}

							}

							&::after {

								bottom: 100%;
								right: 7px;
								border: solid transparent;
								content: "";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-color: rgba(255, 255, 255, 0);
								border-bottom-color: #fff;
								border-width: 5px;
								margin-left: -5px;

							}

						}

					}

				}

				>i {

					margin-right: 20px;
					font-size: 2rem;

                    &.bi-list {

                        margin: 0;

                    }

				}

				&:first-child {

					margin: 0;

				}

			}

		}

        >.burger {

            display: none;

        }

		&::after {

			content:initial;

		}

	}

}

footer {

	background-color: $dark-background-color;
	padding: 50px 0;

	>.container {

		>.app-info {

			text-transform: uppercase;
			font-weight: 700;
			font-size: 3rem;
			letter-spacing: -2px;
			margin: 0 0 50px 0;
			text-align: center;

			>.app-desc {

				text-transform: initial;
				font-weight: 400;
				font-size: 1.5rem;
				letter-spacing: initial;
				color: $dark-third-font-color;

			}

		}

		>.row {

			>.columns {

				color: $dark-third-font-color;

				>strong {

					color: $dark-font-color;
					display: block;
					margin: 0 0 10px 0;

				}

				>a {

					transition: color .35s ease-in-out;

					&:hover {

						color: $dark-second-font-color;

					}

				}

			}

		}

		.crocodile {

			background-image: url('/img/a25li-h1cx9.svg');
			background-position: center;
			background-repeat: no-repeat;
			width: 169px;
			height: 109px;
			margin: 50px auto 0 auto;

		}

	}

}

@include media("<desktop") {

    nav {

        >.container {

            >.menu {

                display: none;

            }

            >.burger {

                display: block;

            }

        }

    }

    nav.responsive {

        height: auto;

        >.container {

            >.menu {

                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                margin: 0 0 30px 0;

                >div {

                    margin: 0 0 10px 0;
                    padding: 3px 10px;
                    border-radius: 6px;
                    background-color: $dark-second-background-color;
                    width: 150px;
                    display: flex;
                    justify-content: space-between;

                    &:last-child { margin:0; }

					&.dropdown {

						flex-wrap: wrap;

						>:not(.dropdown-position) {

							flex: 0 50%;

						}

						>.dropdown-position {

							position: initial;
							width: 100%;
							margin: 10px 0;

						}

					}

                }

            }

            >.burger,
            >.logo {

                height: 80px;
                flex: 0 50%;

            }

            >.burger {

                display: block;

            }

        }

    }

	.hide {

		&.mobile { display:none; }
		&.desktop { display:block; }
	
	}
	
	.show {
	
		&.mobile { display:block; }
		&.desktop { display:none; }
	
	}

	footer {

		>.container {

			>.row {

				>.columns {

					margin: 25px 0 0 0;
					text-align: center;

					&:first-child { margin: 0; }

				}

			}

		}

	}

}

@include media("<tablet") {

    nav.responsive {

        >.container {

            >.menu {

                >div {

                    width: 100%;

                }

            }

        }

    }

}