// Variables
@import './../_variables.scss';

// Media query
@import './../media-query.scss';

section {

    padding: 75px 0;
    position: relative;

    &:nth-child(even):not(.header) {

        background-color: $dark-third-background-color;

        .box {

            >.title {

                background-color: $dark-third-background-color;

            }

        }

    }

    .box {

        color: $dark-third-font-color;
        border: 2px dashed rgba(0,0,0, .3);
        padding: 15px;
        border-radius: 6px;
        margin: 25px 0 25px 0;
        position: relative;

        >.title {

            color: $dark-font-color;
            background-color: $dark-second-background-color;
            position: absolute;
            top: -15px;
            left: 5px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            font-weight: 600;

            &.right {

                right: 5px;
                left: initial;

            }

        }

    }
    
    &.header {

        background-image: linear-gradient(to bottom right, $purple, $blue);
        width: 100%;
        height: 700px;
        overflow: hidden;
		margin: 0 0 75px 0;
        padding: 0;

        >.container {

            height: 100%;

            >.row {

                height: 100%;

                >.text {

                    >h1 {

                        font-size: 6.5rem;
                        margin: 0;
                        font-weight: 700;
                        color: $dark-font-color;

                    }

                }

            }

            .header-box {

                background-color: $light-background-color;
                color: $light-font-color;
                padding: 20px;
                border-radius: 6px;
                box-shadow: 0 2px rgba(0,0,0, .12);
                position: relative;
                z-index: 2;

                >hr {

                    border-top: 1px solid $light-border-color;
                    margin: 30px -20px;

                }

                >form {

                    margin: 0;

                    >div {

                        position: relative;
                        
                        >.input-title {

                            background-color: $light-background-color;                   
                            color: $dark-third-font-color;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            font-weight: 700;
                            position: absolute;
                            top: -15px;
                            left: 10px;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;

                        }

                        >input {

                            font-family: $font-family;
                            border: 2px solid $light-border-color;
                            width: 100%;
                            height: auto;
                            padding: 15px 20px;
                            margin: 0 0 30px 0;
    
                        }

                    }

                    button {

                        font-family: $font-family;
                        background-color: $blue;
                        color: $dark-font-color;
                        border: 0;
                        height: auto;
                        width: 100%;
                        padding: 10px;
                        font-size: 1.3rem;
                        cursor: pointer;

                    }

                }
                
                >.center {

                    width: 100%;
                    text-align: center;
                    color: #aaa;

                    >strong {

                        color: $light-third-font-color;
                        display: block;
                        font-size: 2.5rem;
                        margin: 0 0 15px 0;

                    }

                }

            }

        }

        &:after {

            content: "";
            background-image: url('/img/wave.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 250px;
            position: absolute;
            bottom: -75px;

        }

        .mountains {

            background: url('/img/h_bg_02.svg') bottom center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;

        }

        $bg-00: #1B2735;
        $bg-01: #090A0F;

        $star-color: $dark-font-color;    

        @function multiple-bs ($n) {
            $value: "#{random(2000)}px #{random(2000)}px #{$star-color}";
            @for $i from 2 through $n {
                $value: "#{$value}, #{random(2000)}px #{random(2000)}px #{$star-color}";
            }
            @return unquote($value)
        }

        $bs-large: multiple-bs(800);
        $bs-medium: multiple-bs(600);
        $bs-small: multiple-bs(200);
    
        #stars {

            border-radius: 50%;
            background-color: transparent;
            animation: float-stars linear infinite;

            &-00 {

                width: 1px;
                height: 1px;
                box-shadow: $bs-small;
                @extend #stars;
                animation-duration: 100s;

                &:after {

                    width: 1px;
                    height: 1px;
                    box-shadow: $bs-small;
    
                }

            }

            &-01 {
            
                width: 2px;
                height: 2px;
                box-shadow: $bs-medium;
                @extend #stars;
                animation-duration: 150s;

                &:after {

                    width: 2px;
                    height: 2px;
                    box-shadow: $bs-medium;

                }

            }

            &-02 {
                
                width: 3px;
                height: 3px;
                box-shadow: $bs-large;
                @extend #stars;
                animation-duration: 200s;

                &:after {

                    width: 3px;
                    height: 3px;
                    box-shadow: $bs-large;

                }
            }

            &:after {

                content: "";
                position: absolute;
                top: 2000px;
                background-color: transparent;

            }

        }

        @keyframes float-stars {
        from { transform: translateY(0px) }
        to { transform: translateY(-2000px) }
        }

    }

    &.welcome {

        padding: 25px 0 75px 0;

    }

    &.api {

        >.container {

            >.row {

                >.columns {

                    >.code {

                        overflow: hidden;
                        background-color: $dark-second-background-color;
                        padding: 20px;
                        border-radius: 6px;
                        box-shadow: 0 2px rgba(0,0,0, .12);
                        width: 100%;

                        >.menu {

                            border-bottom: 1px solid $dark-third-background-color;
                            margin: -20px -20px 20px -20px;
                            padding: 20px;
                            display: flex;
                            align-items: center;

                            >div {

                                height: 35px;
                                padding: 0 15px;
                                cursor: pointer;
                                font-weight: 600;
                                transition: background-color .25s ease-in-out,
                                            box-shadow .25s ease-in-out;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 6px;
                                margin-right: 10px;

                                &.active,
                                &:hover {

                                    background-color: $dark-third-background-color;

                                }

                            }

                        }

                        >div {

                            display: none;

                            &.active {

                                display: block;

                            }

                            >pre {

                                white-space: pre-line;
                                margin: 0;

                                span {

                                    &.blue { color: $blue; }
                                    &.purple { color: $purple; }
                                    &.yellow { color: $yellow; }

                                }

                            }

                        }

                    }

                    >button {

                        font-family: $font-family;
                        background-color: $light-background-color;
                        font-weight: 700;
                        display: block;
                        margin: 0;
                        border: 0;
                        float: right;

                        &::before,
                        &::after {

                            content: "";
                            clear: both;

                        }

                    }

                }

            }

        }

    }

    &.interest {

        background-image: linear-gradient(to bottom, $dark-third-background-color, transparent, $dark-background-color), url('/img/backlarge.png');
        padding: 100px 0;

        >.container {

            >.row {

                >.columns {

                    >a {

                        width: 100%;

                        >button {

                            font-family: $font-family;
                            background-color: $light-background-color;
                            color: $light-second-font-color;
                            border:0;
                            font-weight: 700;
                            font-size: 1.3rem;
                            margin:0;
                            height: auto;
                            width: 100%;
                            padding: 10px;
                            box-shadow: 0 2px rgba(0,0,0, .12);

                        }

                    }

                }

            }
            
        }

    }

}

@include media("<desktop") {

    section {

        &.header {

            min-height: 300px;
            height: auto;
            padding: 122px 0 95px 0;

            >.container {

                >.row {

                    flex-direction: row;

                    >.text {

                        text-align: center;

                        h1 {

                            font-size: 5rem;

                        }

                    }

                }

            }
            
        }

        &.api {

            >.container {

                >.row {

                    flex-direction: column-reverse;

                    >.columns {

                        >.code {

                            margin: 50px 0 0 0;

                        }

                    }

                }

            }

        }

        &.interest {

            >.container {

                >.row {

                    flex-direction: column;
                    text-align: center;

                }

            }

        }

    }

}

@include media("<tablet") {

    section {

        &.header {

            >.container {
                
                >.row {

                    flex-direction: column;

                    >.text {

                        margin: 0 0 40px 0;

                    }

                }
            }

        }

    }

}